body {
    margin: 0;
    text-align: center;
    margin-top: 36px;
    height: 100vh;
    background: linear-gradient(180deg, #000, #080021, #000);
    color: antiquewhite;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#textPrompt, h2, button {
    font-family: 'Lucida Console', Monaco, monospace;
}

#saverDiv {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 20px;
    height: 4em;
    width: 8em;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border-color: #00FFFF;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    cursor: pointer;
}

button:hover{
    background-color: rgb(57, 57, 57);
    border-color: #000;
    cursor:pointer;
}

#money {
    font-size: 56px;
    color: green;
    text-shadow: 2px 2px goldenrod;
}

#saverForm {
    background-color: transparent;
    padding: 20px; 
    border-radius: 5px; 
    color: white; 
}

#saverForm label,
#saverForm input {
    color: white; 
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.arrow-button {
    height: 50px;
    width: 50px;
    background-color: transparent; 
    border: none; 
    border-radius: 4%;
    color: #00FFFF; 
    font-size: 16px; 
    cursor: pointer; 
    padding: 10px;
}

.arrow-button:hover{
    background-color: rgb(57, 57, 57);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#incrementInput {
    background-color: transparent; 
    border: 1px solid #00FFFF; 
    color: white;
    padding: 10px;
    border-radius: 5px; 
    width: 100px;
}



/* Stars Background */
.star {
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    animation: twinkling 0.1s infinite alternate, moveStar 120s linear infinite;
}

@keyframes twinkling {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes moveStar {
    0% {
        transform: translateX(0);
    }
    50%{
        transform: translateX(2vw);
    }
    100% {
        transform: translateX(0); 
    }
}