body {
    text-align: center;
    margin-top: 4em;
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
}
img {
    height: 8em;
    margin-top: 0.5em;
}

button {
    margin: 20px;
    height: 4em;
    width: 8em;
    color: black;
    background-color: rgb(189, 182, 165);   
}

button:hover{
    background-color: rgb(158, 166, 174);
    cursor:pointer;
}

#money {
    font-size: 40px;
    color: green;
}